/* GENERAL */

*{
    margin: 0%;
    padding: 0;
    font-family: 'Nerko One', cursive;
    box-sizing: border-box;
}

body{
    background-color: #00ffff6e;
    color: #fff;
}




/* UTILITIES */

.container{
    width: 1200px;
    max-width: 100%;
    margin: 15px auto;
}

.Clearfix{
    content: "";
    display: table;
    clear: both;
}

.Layover{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: none;
}

/* HEADER */

header{
    padding: 15px;
    text-align: center;
    
}
#Title{
    font-size: 5em;
    text-transform: uppercase;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}


/* MAIN */

main{
     width: 90%;
     padding: 20px;
     margin: 15px auto;
}

/* RIGHE */

main .row{
    width: 100%;
}



/* TIPO DI CARTE  */

.row .cards{
    position: relative;
    float: left;
    width: calc(100% / 4 - 50px);
    height: 250px;
    margin: 10px 25px;
    background-image: url(./img/pattern.png);
    background-size: contain;
    border-radius: 15px;
    background-color: white;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.5);
}




.row .cards:hover .Layover{
    display: block;
}

.row .cards:hover{
    background: transparent;
    background: white;
    cursor: pointer;
}
.cards.empty .Layover{
    display: block;
}

.cards.empty{
    background-image: none;
}



/* CARATTERISTICHE CARTE */

.cards-top{
    width: 100%;
    height: 80%;
}

.cards-top img{
    width: 100%;

}

.cards-bottom{
    position: relative;
    width: 100%;
    height: 20%;
    text-align: center;

}

.Descrizione{
    display: inline-block;
    font-size: 2em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    
}

.Descrizione.Baloon{
    color: rgb(230, 91, 218);

}

.Descrizione.Bicycle{
    color: rgb(250, 137, 84);

}

.Descrizione.Cruise-ship{
    color: rgb(70, 184, 230);

}

.Descrizione.Submarine{
    color: rgb(50, 12, 218);

}

.Descrizione.Tractor{
    color: rgb(145, 247, 114);

}

.Descrizione.Tram{
    color: rgb(234, 248, 110);

}





/* FOOTER */
footer{
    font-size: 18px;
    text-align: center;
    color: rgb(252, 102, 102);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}






