/* GENERAL */

*{
    margin: 0%;
    padding: 0;
    font-family: 'Nerko One', cursive;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    color: #fff;
}




/* UTILITIES */

.container{
    width: 1200px;
    max-width: 100%;
    margin: 15px auto;
    /* background-color: red; */
}

.Clearfix{
    content: "";
    display: table;
    clear: both;
}

/* HEADER */

header{
    padding: 15px;
    text-align: center;
    
}
#Title{
    font-size: 5em;
    text-transform: uppercase;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}


/* MAIN */

main{
        width: 90%;
        height: 600px; 
        /* fake height */
        padding: 20px;
        margin: 15px auto;
        border: 1px solid black;
}

main .row{
    width: 100%;
}

.row .cards{
    float: left;
    width: calc(100% / 4 - 50px);
    height: 200px;
    margin: 10px 25px;
    background-color: seagreen;
    background-image: url(./img/pattern.png);
    background-size: contain;
    border-radius: 15px;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.5);
}

.row .cards:nth-child(2){
    background-image: url(./img/noun_air_balloon_3134741.png);
    background-size: cover;
}




